* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/** 
box 2 
**/
.add-first {
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 20px;
    /* Adjust the margin as needed */

}

.add-second {
    font-size: 1rem;
    margin-left: 12px;
}

.add-icon {
    display: flex;
    /* Use flexbox to align items */
    align-items: center;
    /* Vertically center the icon and text */
}

/**
box 3
**/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: red;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-radius: 4px 0 0 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd69;
    border-radius: 0 4px 4px 0;
    color: black;
}

.nav-search:hover {
    box-shadow: 0 0 50px #febd69;
}

/** Box 4 **/
span {
    font-size: 0.7rem;
    color: #cccccc;
}

.nav-second {
    font-size: 0.9rem;
    font-weight: 700;
}

/** Box 6 **/
.nav-cart i {
    font-size: 25px;
    font-weight: 700;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/** Panel **/
.panel {
    height: 40px;
    background-color: #232f3e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline-block;
    margin-left: 10px;
}

.panel-ops {
    width: 70%;
    font-size: 0.90rem;
}

.panel-deals {
    width: 30%;
    font-size: 0.95rem;;
    margin-right: 5px;
}

.panel-all {
    display: flex;
    align-items: center;
}